.products-header-line {
    border: none; 
    border-top: 2px solid; 
    width: calc(100% - 20px); 
    margin: 1rem auto 2rem auto; 
}

.search-and-cart-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cart-wrapper {
    position: relative; 
    flex-shrink: 0;
}

.cart-indicator {
    position: absolute;
    top: -7px;    
    right: -7px;
}

.all-btn {
    transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out !important;
}

.all-btn:hover {
    transform: translateY(-5px);
    filter: brightness(1.1);
}

@media (max-width: 576px) {
    .search-and-cart-wrapper {
        flex-direction: column;
        gap: 10px; /* Добавим отступ между элементами */
    }

    .search-and-cart-wrapper .form-control {
        width: 100%;
    }

    .search-and-cart-wrapper .btn {
        width: 100%;
    }
}