.homepage-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw; 
}

.homepage-wrapper header {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: transparent !important; 
  text-shadow: 0 1px 3px #707070;
}
.home-image-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.home-page-container {
    flex-grow: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: white;
}

.home-video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

.home-page-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #707070;
    z-index: -1;
}

.home-page-content {
    text-align: center;
    z-index: 1;
    padding: 2rem;
}


